<html>
    <head>
       
    </head>
    <body>
        <form class="login" action="http://csj3684.ddns.net:22406/sharedInformation/login" method="post">
          <select id = headName name = "headName" style="text-align:center; width:100px; height:26px"></select>
          <input type="submit" name="submit" value="로그인">
        </form>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>
          var headNames = JSON.parse('{{headNames|safe}}');

          for(var i in headNames){               
                var option = $("<option>" + headNames[i] + "</option>");
                $('#headName').append(option);
            }
        </script>
    </body>
</html>